<h1 class="title">About</h1>
<br>
<div style="text-align: center; width: 100%;">
	<div>
		<h2>CA349 : IT Architecture</h2>
		<br>
		<p>Developper : </p>
		<p>STIEN Jordan : ECSAOO : 16101928 : jordan.stien2@mail.dcu.ie</p>
		<p>BELE Thomas : ECSAX : 16105231 : thomas.bele2@mail.dcu.ie</p>
		<br>
		<p>Total : ${drugsNumber} drugs loaded</p>
		<br>
		<p>Sources :</p>
		<p><a href="https://www.data.gouv.fr/fr/datasets/base-de-donnees-publique-des-medicaments-base-officielle/">data.gouv.fr</a></p>
		<p><a href="https://www.google.com/fusiontables/DataSource?docid=1_ogsLk2AVISe7i02hRelgcnP9oATKJFD9QjtEyAc">Our first FusionTable</a></p>
		<p><a href="https://www.google.com/fusiontables/DataSource?docid=1G6OkBRaCARVO2smUu5JFlBn1M9qDhMMBoPcAgBa5">Our second FusionTable</a></p>
		<br>
		<h2>How does it work ?</h2>
		<br>
		<img src="${path}/resource?name=img/schema.jpg" width="100%"/>
	</div>
</div>