<script type="text/javascript">
	function gup(name) {
		  return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search) || [null, ''])[1].replace(/\+/g, '%20')) || null;
	}
	
	function timeConverter(ts){
		  var a = new Date(ts);
		  var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
		  var year = a.getFullYear();
		  var month = months[a.getMonth()];
		  var date = a.getDate();
		  var time = date + ' ' + month + ' ' + year;
		  return time;
	}
	
	function update() {
		var id = gup("id");
		
		if (id == null) {
	       	document.getElementById("wrapper").innerHTML = "No ID provided";
		} else {
			var xmlhttp = new XMLHttpRequest();
			var url = "${path}/drug";
			var param = "id=" + id;

			xmlhttp.onreadystatechange = function() {
			    if (this.readyState == 4 && this.status == 200) {
			        var drug = JSON.parse(this.responseText);
			       	
			       	document.getElementById("title-name").innerHTML = "[ " + drug.name + " ]";

			       	document.getElementById("cis").innerHTML = drug.cis;
			       	document.getElementById("name").innerHTML = drug.name;
			       	document.getElementById("pharmaceutical_form").innerHTML = drug.form;
			       	document.getElementById("administration_methods").innerHTML = drug.way;
			       	document.getElementById("administrative_status").innerHTML = drug.status;
			       	document.getElementById("map").innerHTML = drug.type;
			       	document.getElementById("soc").innerHTML = drug.state;
			       	document.getElementById("dma").innerHTML = timeConverter(drug.date);
			       	document.getElementById("bdm").innerHTML = drug.statusBdm;
			       	document.getElementById("ean").innerHTML = drug.authorization;
			       	document.getElementById("holders").innerHTML = drug.owners;
			       	document.getElementById("enhanced_surveillance").innerHTML = drug.guarded;
			       	document.getElementById("denomination").innerHTML = drug.denomination;
			       	document.getElementById("amm").innerHTML = drug.ownerAMM;
			       	document.getElementById("cip7").innerHTML = drug.cip7;
			       	document.getElementById("cip13").innerHTML = drug.cip13;
			       	document.getElementById("presentation").innerHTML = drug.presentationName;
			    }
			};

			xmlhttp.open("POST", url, true);
			xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			xmlhttp.setRequestHeader("Content-length", param.length);
			xmlhttp.setRequestHeader("Connection", "close");
			xmlhttp.send(param);
		}
	}
	
	update();
</script>

<div id="wrapper" style="width: 100%;">
	<div style="text-align: center;">
		<h2 id = "title-name"></h2>
	</div>
	<br><br>
	<div class='googft-card-view' style='font-family: sans-serif; width: 100%; padding: 4px; border: 1px solid #ccc; overflow: hidden'>
		<b>CIS Code : </b> <span id="cis"></span><br>
		<b>Name : </b> <span id="name"></span><br>
		<b>Pharmaceutical form : </b> <span id="pharmaceutical_form"></span><br>
		<b>Administration methods : </b> <span id="administration_methods"></span><br>
		<b>Administrative Status : </b> <span id="administrative_status"></span><br>
		<b>Type of marketing authorization procedure : </b> <span id="map"></span><br>
		<b>State of commercialization : </b> <span id="soc"></span><br>
		<b>Date of marketing authorization : </b> <span id="dma"></span><br>
		<b>BDM Status : </b> <span id="bdm"></span><br>
		<b>European authorization number : </b> <span id="ean"></span><br>
		<b>Holders : </b> <span id="holders"></span><br>
		<b>Enhanced supervision : </b> <span id="enhanced_surveillance"></span><br>
		<b>Denomination : </b> <span id="denomination"></span><br>
		<b>AMM Owner : </b> <span id="amm"></span><br>
		<b>CIP 7 code : </b> <span id="cip7"></span><br>
		<b>CIP 13 code : </b> <span id="cip13"></span><br>
		<b>Presentation name : </b> <span id="presentation"></span>
	</div>
</div>