<script>
	function changePage(page) {
		var xmlhttp = new XMLHttpRequest();
		var url = "${path}/list?page=" + page;

		xmlhttp.onreadystatechange = function() {
		    if (this.readyState == 4 && this.status == 200) {
		        var page = JSON.parse(this.responseText);
		       	var root = document.getElementById("resultTable");
		       	var array = page.drugs;
		       	
		       	document.getElementById("curPage").innerHTML = page.current + 1;
		       	document.getElementById("totPage").innerHTML = page.total;
		       	$('#resultTable').empty();
		       	array.forEach(function(element) {
		       		var card = "<a target=\"_blank\" href=\"${path}/drug?id=" + element.id + "\">";
		       		card += "<div class='googft-card-view' style='font-family: sans-serif; width: 100%;";
		       		card += "padding: 4px; border: 1px solid #ccc; overflow: hidden; margin 0 auto;'><b>CIS code : </b>";
		       		card += element.cis + " | <b> Name : </b>" + element.name + "</div></a>";
		       		$('#resultTable').append(card);
		       	});
		       	
		       	$('html, body').animate({ scrollTop: 0 }, 'fast');
		    }
		};
		xmlhttp.open("GET", url, true);
		xmlhttp.send();
	}
	
	changePage(0);
</script>

<h1 class="title">Home</h1>
<p>Current page : <strong id="curPage"></strong> / <strong id="totPage"></strong></p>

<!-- BEGIN PAGINATION -->
<div style="text-align: center; width: 100%;">
	<nav aria-label="Page navigation navbar-inverse navbar-fixed-bottom" style="display: inline-block; float: none; vertical-align: top;">
  		<ul class="pagination pagination-sm">
  			${pageBar}
  		</ul>
	</nav>
</div>
<!-- END PAGINATION -->

<div id="resultTable" style="width: 100%;">
</div>

<!-- BEGIN PAGINATION -->
<div style="text-align: center; width: 100%;">
	<nav aria-label="Page navigation navbar-inverse navbar-fixed-bottom" style="display: inline-block; float: none; vertical-align: top;">
  		<ul class="pagination pagination-sm">
  			${pageBar}
  		</ul>
	</nav>
</div>
<!-- END PAGINATION -->