<script>
function research() {
	var xmlhttp = new XMLHttpRequest();
	var url = "${path}/research";
	
	var cis = $('#cis').val();
	var contains = $('#name').val();
	
	var param = "cis=" + cis + "&contains=" + contains;

	xmlhttp.onreadystatechange = function() {
	    if (this.readyState == 4 && this.status == 200) {
	        var page = JSON.parse(this.responseText);
	       	var root = document.getElementById("resultTable");
	       	var array = page.drugs;
	       	
	       	$('#resultTable').empty();
	       	if (array.length == 0) {
	       		$('#resultTable').text("No drugs matching with your criteria");
	       	} else {
		       	array.forEach(function(element) {
		       		var card = "<a target=\"_blank\" href=\"${path}/drug?id=" + element.id + "\">";
		       		card += "<div class='googft-card-view' style='font-family: sans-serif; width: 100%;";
		       		card += "padding: 4px; border: 1px solid #ccc; overflow: hidden; margin 0 auto;'><b>CIS code : </b>";
		       		card += element.cis + " | <b> Name : </b>" + element.name + "</div></a>";
		       		$('#resultTable').append(card);
		       	});
	       	}	       	
	       	$('html, body').animate({ scrollTop: 0 }, 'fast');
	    }
	};
	xmlhttp.open("POST", url, true);
	xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	xmlhttp.setRequestHeader("Content-length", param.length);
	xmlhttp.setRequestHeader("Connection", "close");
	xmlhttp.send(param);
}
</script>

<h1 class="title">Research</h1>
<div style="text-align: center;">
	<form action="javascript:research()" style="width: 100%">
		<div style="width: 100%">
	        <label for="cis">CIS :</label>
	        <input type="text" id="cis" name="cis" />
	        <label for="name"> | Contains :</label>
	        <input type="text" id="name" name="name" />
	        
	        <button type="submit">Search</button>
		</div>
	</form>
</div>

<div id="resultTable" style="width: 100%;">
</div>