<h1 class="title">Statistics</h1>

<div style="text-align: center; width: 100%;">
	<h3>The 10 largest holders</h3>
	<img src="${path}/resource?name=img/Holders.png" width="100%"/>
</div>
<div style="text-align: center; width: 100%;">
	<h3>Pharmaceutical form</h3>
	<iframe width="900" height="580" scrolling="no" frameborder="no" src="https://fusiontables.google.com/embedviz?containerId=googft-gviz-canvas&amp;q=select+col2%3E%3E0%2C+count()+from+1qiJGFTaB7ocS8PZ65mboWEjGTa-yWTtl7namI6Tb+group+by+col2%3E%3E0+order+by+col2%3E%3E0+asc+limit+100&amp;viz=GVIZ&amp;t=PIE&amp;uiversion=2&amp;gco_forceIFrame=true&amp;gco_hasLabelsColumn=true&amp;gco_useFirstColumnAsDomain=true&amp;gco_legacyScatterChartLabels=true&amp;gco_is3D=true&amp;gco_pieHole=0&amp;gco_booleanRole=certainty&amp;gco_hAxis=%7B%22useFormatFromData%22%3Atrue%2C+%22viewWindow%22%3A%7B%22max%22%3Anull%2C+%22min%22%3Anull%7D%2C+%22minValue%22%3Anull%2C+%22maxValue%22%3Anull%7D&amp;gco_vAxes=%5B%7B%22useFormatFromData%22%3Atrue%2C+%22viewWindow%22%3A%7B%22max%22%3Anull%2C+%22min%22%3Anull%7D%2C+%22minValue%22%3Anull%2C+%22maxValue%22%3Anull%7D%2C%7B%22useFormatFromData%22%3Atrue%2C+%22viewWindow%22%3A%7B%22max%22%3Anull%2C+%22min%22%3Anull%7D%2C+%22minValue%22%3Anull%2C+%22maxValue%22%3Anull%7D%5D&amp;gco_title=Pharmaceutical+Form&amp;gco_legend=right&amp;gco_pieSliceText=percentage&amp;gco_pieSliceTextStyle=%7B%22fontSize%22%3A%2210%22%7D&amp;gco_theme=maximized&amp;att=true&amp;width=900&amp;height=580"></iframe>
</div>
<div style="text-align: center; width: 100%;">
	<iframe width="900" height="580" scrolling="no" frameborder="no" src="https://fusiontables.google.com/embedviz?containerId=googft-gviz-canvas&amp;q=select+col11%3E%3E0%2C+count()+from+1qiJGFTaB7ocS8PZ65mboWEjGTa-yWTtl7namI6Tb+group+by+col11%3E%3E0+order+by+count()+asc+limit+100&amp;viz=GVIZ&amp;t=PIE&amp;uiversion=2&amp;gco_forceIFrame=true&amp;gco_hasLabelsColumn=true&amp;gco_useFirstColumnAsDomain=true&amp;gco_legacyScatterChartLabels=true&amp;gco_is3D=true&amp;gco_pieHole=0.25&amp;gco_booleanRole=certainty&amp;gco_hAxis=%7B%22useFormatFromData%22%3Atrue%2C+%22viewWindow%22%3A%7B%22max%22%3Anull%2C+%22min%22%3Anull%7D%2C+%22minValue%22%3Anull%2C+%22maxValue%22%3Anull%7D&amp;gco_vAxes=%5B%7B%22useFormatFromData%22%3Atrue%2C+%22viewWindow%22%3A%7B%22max%22%3Anull%2C+%22min%22%3Anull%7D%2C+%22minValue%22%3Anull%2C+%22maxValue%22%3Anull%7D%2C%7B%22useFormatFromData%22%3Atrue%2C+%22viewWindow%22%3A%7B%22max%22%3Anull%2C+%22min%22%3Anull%7D%2C+%22minValue%22%3Anull%2C+%22maxValue%22%3Anull%7D%5D&amp;gco_title=Enhanced+surveillance&amp;gco_pieSliceTextStyle=%7B%22fontSize%22%3A%2214%22%7D&amp;gco_legend=right&amp;gco_slices=%7B%220%22%3A%7B%22color%22%3A%22%23dc3912%22%7D%2C+%221%22%3A%7B%22color%22%3A%22%236aa84f%22%7D%7D&amp;width=900&amp;height=580"></iframe>
</div>