body {
	background: #2980b9 center center fixed no-repeat;
}

#wrapper {
	width: 70%;
	margin: 20px auto;
	background: #efefef;
	border-radius: 20px;
}


/* Header */
#header {
	margin: 20px st0;
}
#logos {
	height: 180px;
	padding: 20px;
	margin-bottom: 20px;
}

#logos  img.dcu {
	float:right;
	width: 15%;
	height: auto;
}

#logos  img.drugstable {
	float: left;
	width: 15%;
	height: auto;
}

#menu nav {
	border-radius: 12px;
}

#menu nav > ul {
	width: 100%;
}

#menu nav > ul > li {
	width: 25%;
	text-align: center;
	border-left: solid 1px #f2f2f2;
	border-right: solid 1px #f2f2f2;
}

#menu nav > ul > li > a {
	color: white;
	font-size:large;
	text-align: center;
	border-radius: 12px;
}

#menu nav > ul > li > a:hover {
	background: #626262;
	font-weight: bold;
}

/* Content */
#content {
	padding: 20px;
}
#content .title {
	margin: 0 0 0.5em 0;
	text-align: center;
}
#content .video {
	text-align: center;
}
